<% content_for :left_bar do%>

	<nav id="nav" class="tree-menu">
		<h1>Categorías</h1>
		<ul>
			<% @categories.each do |cat| %>
				<% if cat.has_published_articles? %>
					<li><h2><%= cat.name %></h2>
						<ul>
						<% cat.published_articles.each do |art| %>
							<li><%= link_to art.title.capitalize, art %></li>
						<% end %>
					</ul>
				</li>
				<% end %>
			<% end %>
		</ul>
	</nav>

<% end %>
