<%= render "left_bar" %>
<div class="contents">
	<h2 class="contentTitle">Últimos artículos publicados</h2>
	
	<div class="contentBody">
		<div id="articulos">
			<%= render :partial => @articles %>
		</div>
		
		<% unless @last_page  %>
			<div id="cargando">Cargando más resultados ...</div>
			<div id="cargar_mas_articulos" class="boton">Cargar más artículos</div>
		<% end %>
		
		<% if editor? || admin? %>
			<br><%= link_to 'Crear artículo', new_article_path, :class => :accion %>
		<% end %>
	</div>
</div>



