<% if target.errors.any? %>
	<div class="error_messages">
		<h2>Error</h2>
		<ul>
			<% for message in target.errors.full_messages %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
