<% unless target.empty? %>
	<div class="error_message">
		<ul>
			<% target.each do |message| %>
				<li>
					<%= "El campo #{field_name} #{message}" %>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>
