<h1 class="contentTitle">Consultorio</h1>
<div class="contentBody">
  <ul>
    <li>Terapia de familia</li>
    <li>Terapia de pareja</li>
    <li>Grupo terapéutico</li>
    <li>Asesoramiento psicológico</li>
  </ul>
</div>