<div class="contents">
  <h1 class="contentTitle">Redes Sociales</h1>
  <div class="contentBody">
    <a href="http://www.facebook.com/profile.php?id=100001450706252">
      <center><%= image_tag "/assets/facebook.png" %></center>
    </a>		
  </div>
</div>

<div class="contents">
  <h1 class="contentTitle">Realizar una consulta</h1>
  <div class="contentBody">
    Formulario de contacto
  </div>  
</div>