<div class="contents">
  <h1 class="contentTitle">En Salud Psi</h1>
  <div class="contentBody">
    Bienvenidos y bla bla bla...
  </div>
</div>

<div class="contents">
  <h1 class="contentTitle">Podés visitarnos en Facebook</h1>
  <div class="contentBody">
    <a href="http://www.facebook.com/profile.php?id=100001450706252">
      <center><%= image_tag "/assets/facebook.png" %></center>
    </a>	
  </div>
</div>

<div class="contents">
  <h1 class="contentTitle">Consultas</h1>
  <div class="contentBody">
			Para realizar consultas sobre nuestros servicios, podés acceder a nuestra <%= link_to "página de contacto", contacto_path %>.
  </div>
</div>
