<div class="contents">
  <h1 class="contentTitle">En Salud Psi</h1>
  <div class="contentBody">
    <center style="font-size:20px;">
			<p>Bienvenidos!</p>
			<p>En Salud Psi es un proyecto que busca alcanzar la salud de una manera integradora.</p>
			<p>Para alcanzar este objetivo utilizamos diferentes herramientas, que se acomodan a las necesidades de los consultantes.</p>
			<p>La filosofía que manejamos es el trabajo con y para la prevención.</p>
		</center>
  </div>
</div>

<div class="contents">
  <h1 class="contentTitle">Podés visitarnos en Facebook</h1>
  <div class="contentBody">
    <a href="http://www.facebook.com/profile.php?id=100001450706252">
      <center><%= image_tag "/assets/facebook.png" %></center>
    </a>	
  </div>
</div>

<div class="contents">
  <h1 class="contentTitle">Consultas</h1>
  <div class="contentBody">
			Para realizar consultas sobre nuestros servicios, podés acceder a nuestra <%= link_to "página de contacto", contacto_path %>.
  </div>
</div>
