<div class="contents">
  <h1 class="contentTitle">En Salud Psi</h1>
  <div class="contentBody">
    Bienvenidos y bla bla bla...
  </div>
</div>

<div class="contents">
  <h1 class="contentTitle">Podés visitarnos en Facebook</h1>
  <div class="contentBody">
    Link a facebook
  </div>
</div>