<div class="contents">
  <h1 class="contentTitle">Maternidad y Paternidad</h1>
  <div class="contentBody">
    Bienvenidos y bla bla bla...
  </div>
</div>

<div class="contents">
    <h1 class="contentTitle">Título</h1>
    <div class="contentBody">
    Contenido
    <div class="duracionmatypat">Duracción:
    </div>
  </div>
</div>

<div class="contents">
    <h1 class="contentTitle">Título</h1>
    <div class="contentBody">
    Contenido
    <div class="duracionmatypat">Duracción:
    </div>
  </div>
</div>

<div class="contents">
    <h1 class="contentTitle">Título</h1>
    <div class="contentBody">
    Contenido
    <div class="duracionmatypat">Duracción:
    </div>
  </div>
</div>

<div class="contents">
    <h1 class="contentTitle">Título</h1>
    <div class="contentBody">
    Contenido
    <div class="duracionmatypat">Duracción:
    </div>
  </div>
</div>

<div class="contents">
    <h1 class="contentTitle">Título</h1>
    <div class="contentBody">
    Contenido
    <div class="duracionmatypat">Duracción:
    </div>
  </div>
</div>

