<h1 class="contentsTitle">Maternidad y Paternidad</h1>
  
<div class="contents">
  <h2 class="contentTitle">Preparación Domiciliaria para el Parto/Cesárea</h2>
  <div class="contentBody">
    Para parejas que por razones de salud o de tiempo no puedan realizar el curso de preparto en una institución. Se tratarán diferentes temas relativos a la Maternida y Paternidad, la Lactancia, el Parto/cesárea, Relajación, etc.
    Los horarios se acuerdan entre el terapeuta y los interesados.
  </div>
  <div class="Duracionmatypat">
		Duracción:
    4 encuentros de 1 hora y media / 2 horas cada uno.
  </div>
</div>
<div class="contents">
  <h2 class="contentTitle">Asesoramiento en Lactancia a Domicilio u Hospitalaria</h2>
  <div class="contentBody">
    Los encuentros se realizan de manera particular, ya sea antes o después de que nazca en Bebé.
    Los temas generales a tratar son:
    <ul>
			<li>¿Cómo alcanzar una lactancia exitosa y satisfactoria?</li>
			<li>Beneficios de la Lactancia Materna</li>
			<li>Propiedades de la leche</li>
			<li>Lactancia y reinserción laboral</li>
		</ul>
    <div class="Duracionmatypat">
    Duracción:
    Se acuerda con los solicitantes la cantidad de encuentros, dependiendo de las necesidades particulares de cada caso.
    La información teórico-práctica, se envía via mail y se realizan seguimientos telefónicos.
  </div>
</div>
  </div>
  <div class="contents">
  <h2 class="contentTitle">Consultorio para diagnóstico y tratamiento de problemáticas relacionadas con la Lactancia</h2>
  <div class="Duracionmatypat">
    Duracción:
    Un encuentro diagnóstico. Dependiendo de este encuentro se estructura la cantidad de visitas necesarias.
    La información teórico-práctica, se envía via mail y se realizan seguimientos telefónicos.
  </div>
</div>
<div class="contents">
  <h2 class="contentTitle">Asesoramiento en Crianza</h2>
  <div class="contentBody">
    La modalidad de trabajo puede ser individual o en grupos. Se va a trabajar sobre la demanda que se plantee en cada encuentro.
  </div>
  <div class="Duracionmatypat">
    Duracción:
    Cada encuentro es de 1 hora.
  </div>
</div>
<div class="contents">
  <h2 class="contentTitle">Doula - Acompañamiento emocional previo al parto, durante el parto y postparto. </h2>
  <div class="contentBody">
    <b>¿Qué es ser una Doula?</b>
    <ul>
      Una Doula es una persona que acompaña tanto a la embarazada como a su pareja durante el preparto, el parto y el puerperio, ofreciendo un apoyo emocional continuo.
    </ul>
    <b>Características de una Doula</b>
    <ul>
      <li><b>Ser Mujer:</b> Durante un momento de stress, el cuerpo segrega catecolaminas (sustancia que incluye la adrenalina), esto trae como resultado demoras en el parto, menor flujo sanguíneo y alteraciones en el ritmo cardíaco del bebe. Según algunos autores, la respuesta femenina ante el stress, es agruparse, asociarse y cuidarse. Es por esta razón que se cree que el contacto continuo con otra mujer reduciría esta respuesta.</li>
      <li><b>Proporcionar apoyo emocional: </b>El rol de la Doula es el de ofrecer un apoyo emocional constante, sin juzgar. Debe permitir y propiciar que la mujer y su pareja sean los protagonistas de ese momento de su vida.</li>
      <li><b>Apoyar tanto a la embarazada como a su pareja: </b>El rol de la Doula difiere del  rol del padre porque esta no se encuentra involucrada de la misma manera él. De todas maneras creemos que el valor de la presencia del padre es incalculable y que ambos roles no se superponen.</li>
      <li><b>Favorecer y estimular el vinculo entre el equipo de salud y la pareja:</b> La Doula puede desempeñarse como mediador con el equipo médico, dado que puede explicarle a la pareja lo que va ocurriendo así como trasmitirle al equipo las necesidades de la pareja.</li>
      <li><b>Presencia continua:</b> Esto implica que la Doula va apermanecer con la pareja el tiempo que sea necesario. Esto produce disminución del stress y sensación de seguridad.</li>
    </ul>
    <b>Algunos beneficios de tener una Doula como acompañante:</b>
    <ul>
			<i>
      <li>Menor incidencia de Cesárea 51%.</li>
      <li>Menor duración del trabajo de parto.</li>
      <li>Mayor porcentaje de Parto Natural.</li>
      <li>Disminuye la necesidad de anestesia y analgesia.</li>
      <li>Efecto psicológico positivo a corto y largo plazo.</li>
      </i>
    </ul>
    <b>Actividades:</b>
    <ul>
      <li>Charla informativa gratuita.</li>
      <li>Entrevista individual con la pareja. Aquí se plantearan las necesidades particulares y conjuntamente se delineará el plan particular.</li>
      <li>Encuentros preparto</li>
      <li>Acompañamiento durante el parto</li>
      <li>Visita postparto</li>
    </ul>
  </div>
  <div class="Duracionmatypat">
    Duracción:
    Dependerá de lo acordado con los consultantes .
  </div>
</div>
<div class="contents">
  <h2 class="contentTitle">Reflexología para embarazo, parto y puerperio.</h2>
  <div class="contentBody">
    <b>Algunas problemáticas que se alivian y/o solucionan con el uso de la reflexología:</b>
    <ul>
      <li>Nauseas, malestar y mareos.</li>
      <li>Acidéz y ardor estomacal.</li>
      <li>Estreñimiento, problemas digestivos y hemorroides.</li>
      <li>Anemia.</li>
      <li>Diabetes Gestacional.</li>
      <li>Síndrome del Túnel Carpiano.</li>
      <li>Dolor de Espalda y Ciático.</li>
      <li>Disfunción de Sínfisis Púbica.</li>
      <li>Edema y retensión de líquidos.</li>
      <li>Estimulación y sedación de contracciones.</li>
      <li>Entre otras ...</li>
    </ul>
  </div>
  <div class="Duracionmatypat">
    Duracción:
    Cada encuentro es de 1 hora.
  </div>
</div>
