<div class="contents">
	<h2 class="contentTitle">Editing category</h2>
	<div class="contentBody">
		<%= render 'form' %>

		<%= link_to 'Show', @category %> |
		<%= link_to 'Back', categories_path %>
	</div>
</div>
