<div id="cabecera">
	<%= render "layouts/logo" %>

	<%= render "layouts/user_menu" %>

	<div id="gandhi">
		<div class="frase">"Sé el cambio que quieras ver en el mundo"</div>
		<div class="firma">- Mohandas Gandhi</div>
	</div>
</div>
