<div id="cabecera">
	<%= image_tag "/assets/ensaludpsiLogo.png", :id => "logo" %>
	<div id="nombre">
		En Salud Psi
		<p>Lic. Gimena Galarraga</p>
	</div>

	<%= render "layouts/user_menu" %>

	<div id="gandhi">
		<div class="frase">"Sé el cambio que quieras ver en el mundo"</div>
		<div class="firma">- Mohandas Gandhi</div>
	</div>
</div>
